:root{
  /*Cores Globais*/
  --primaria: #75fc96;
  --secundario: #d23717;
  --b: #131413;
  --c: #f2f2f7;
  --w: #fff;

  /*Tamanho das Letras*/
  --h1: 1.5em;
  --h2: 1em;
  --h3: 0.75em;
  --h4: 0.5em;

  /*Espessura*/
  --weight-light: 100;
  --weight-medium: 300;
  --weight-bold: 700;


  /*Formatação dos textos*/
}

.light-h1{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h1);
  font-weight: var(--weight-light);
}

.light-h2{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h2);
  font-weight: var(--weight-light);
}

.light-h3{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h3);
  font-weight: var(--weight-light);
}

.light-h4{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h4);
  font-weight: var(--weight-light);
}

.medium-h1{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h1);
  font-weight: var(--weight-medium);
}

.medium-h2{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h2);
  font-weight: var(--weight-medium);
}

.medium-h3{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h3);
  font-weight: var(--weight-medium);
}

.medium-h4{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h4);
  font-weight: var(--weight-medium);
}

.bold-h1{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h1);
  font-weight: var(--weight-bold);
}

.bold-h2{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h2);
  font-weight: var(--weight-bold);
}

.bold-h3{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h3);
  font-weight: var(--weight-bold);
}

.bold-h4{
  font-family: "Montserrat", sans-serif;
  font-size: var(--h4);
  font-weight: var(--weight-bold);
}